/******************************************
/* Imports
/*******************************************/
.row {
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.row.reverse {
  flex-direction: row-reverse;
}

.row.natural-height {
  align-items: flex-start;
}

.row.flex-column {
  flex-direction: column;
}

.col {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1rem;
}

.col.reverse {
  flex-direction: column-reverse;
}

.first {
  order: -1;
}

.last {
  order: 1;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}

.align-baseline {
  align-self: baseline;
}

.align-stretch {
  align-self: stretch;
}

.col-xs {
  box-sizing: border-box;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
  padding: 0 1rem;
}

.col-xs-1 {
  box-sizing: border-box;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%;
  padding: 0 1rem;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-2 {
  box-sizing: border-box;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%;
  padding: 0 1rem;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-3 {
  box-sizing: border-box;
  flex-basis: 25%;
  max-width: 25%;
  padding: 0 1rem;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-4 {
  box-sizing: border-box;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%;
  padding: 0 1rem;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-5 {
  box-sizing: border-box;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%;
  padding: 0 1rem;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-6 {
  box-sizing: border-box;
  flex-basis: 50%;
  max-width: 50%;
  padding: 0 1rem;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-7 {
  box-sizing: border-box;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%;
  padding: 0 1rem;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-8 {
  box-sizing: border-box;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%;
  padding: 0 1rem;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-9 {
  box-sizing: border-box;
  flex-basis: 75%;
  max-width: 75%;
  padding: 0 1rem;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-10 {
  box-sizing: border-box;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%;
  padding: 0 1rem;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-11 {
  box-sizing: border-box;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%;
  padding: 0 1rem;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-12 {
  box-sizing: border-box;
  flex-basis: 100%;
  max-width: 100%;
  padding: 0 1rem;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

.row.start-xs {
  justify-content: flex-start;
}

.row.center-xs {
  justify-content: center;
}

.row.end-xs {
  justify-content: flex-end;
}

.row.top-xs {
  align-items: flex-start;
}

.row.middle-xs {
  align-items: center;
}

.row.bottom-xs {
  align-items: flex-end;
}

.row.around-xs {
  justify-content: space-around;
}

.row.between-xs {
  justify-content: space-between;
}

.first-xs {
  order: -1;
}

.last-xs {
  order: 1;
}

@media only screen and (min-width: 41rem) {
  .col-sm {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-sm-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem;
  }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-sm-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem;
  }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-sm-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem;
  }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-sm-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem;
  }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-sm-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem;
  }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-sm-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem;
  }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-sm-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem;
  }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-sm-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem;
  }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-sm-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .row.start-sm {
    justify-content: flex-start;
  }
  .row.center-sm {
    justify-content: center;
  }
  .row.end-sm {
    justify-content: flex-end;
  }
  .row.top-sm {
    align-items: flex-start;
  }
  .row.middle-sm {
    align-items: center;
  }
  .row.bottom-sm {
    align-items: flex-end;
  }
  .row.around-sm {
    justify-content: space-around;
  }
  .row.between-sm {
    justify-content: space-between;
  }
  .first-sm {
    order: -1;
  }
  .last-sm {
    order: 1;
  }
}
@media only screen and (min-width: 65rem) {
  .col-md {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-md-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem;
  }
  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-md-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem;
  }
  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-md-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem;
  }
  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-md-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem;
  }
  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-md-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem;
  }
  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-md-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem;
  }
  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-md-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem;
  }
  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-md-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem;
  }
  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-md-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .row.start-md {
    justify-content: flex-start;
  }
  .row.center-md {
    justify-content: center;
  }
  .row.end-md {
    justify-content: flex-end;
  }
  .row.top-md {
    align-items: flex-start;
  }
  .row.middle-md {
    align-items: center;
  }
  .row.bottom-md {
    align-items: flex-end;
  }
  .row.around-md {
    justify-content: space-around;
  }
  .row.between-md {
    justify-content: space-between;
  }
  .first-md {
    order: -1;
  }
  .last-md {
    order: 1;
  }
}
@media only screen and (min-width: 91rem) {
  .col-lg {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-lg-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem;
  }
  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-lg-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem;
  }
  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-lg-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem;
  }
  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-lg-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem;
  }
  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-lg-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem;
  }
  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-lg-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem;
  }
  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-lg-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem;
  }
  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-lg-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem;
  }
  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-lg-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .row.start-lg {
    justify-content: flex-start;
  }
  .row.center-lg {
    justify-content: center;
  }
  .row.end-lg {
    justify-content: flex-end;
  }
  .row.top-lg {
    align-items: flex-start;
  }
  .row.middle-lg {
    align-items: center;
  }
  .row.bottom-lg {
    align-items: flex-end;
  }
  .row.around-lg {
    justify-content: space-around;
  }
  .row.between-lg {
    justify-content: space-between;
  }
  .first-lg {
    order: -1;
  }
  .last-lg {
    order: 1;
  }
}
@media only screen and (min-width: 121rem) {
  .col-xl {
    box-sizing: border-box;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-xl-1 {
    box-sizing: border-box;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
    padding: 0 1rem;
  }
  .col-xl-offset-1 {
    margin-left: 8.3333333333%;
  }
  .col-xl-2 {
    box-sizing: border-box;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%;
    padding: 0 1rem;
  }
  .col-xl-offset-2 {
    margin-left: 16.6666666667%;
  }
  .col-xl-3 {
    box-sizing: border-box;
    flex-basis: 25%;
    max-width: 25%;
    padding: 0 1rem;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    box-sizing: border-box;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
    padding: 0 1rem;
  }
  .col-xl-offset-4 {
    margin-left: 33.3333333333%;
  }
  .col-xl-5 {
    box-sizing: border-box;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%;
    padding: 0 1rem;
  }
  .col-xl-offset-5 {
    margin-left: 41.6666666667%;
  }
  .col-xl-6 {
    box-sizing: border-box;
    flex-basis: 50%;
    max-width: 50%;
    padding: 0 1rem;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    box-sizing: border-box;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
    padding: 0 1rem;
  }
  .col-xl-offset-7 {
    margin-left: 58.3333333333%;
  }
  .col-xl-8 {
    box-sizing: border-box;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%;
    padding: 0 1rem;
  }
  .col-xl-offset-8 {
    margin-left: 66.6666666667%;
  }
  .col-xl-9 {
    box-sizing: border-box;
    flex-basis: 75%;
    max-width: 75%;
    padding: 0 1rem;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    box-sizing: border-box;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
    padding: 0 1rem;
  }
  .col-xl-offset-10 {
    margin-left: 83.3333333333%;
  }
  .col-xl-11 {
    box-sizing: border-box;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%;
    padding: 0 1rem;
  }
  .col-xl-offset-11 {
    margin-left: 91.6666666667%;
  }
  .col-xl-12 {
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0 1rem;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  .row.start-xl {
    justify-content: flex-start;
  }
  .row.center-xl {
    justify-content: center;
  }
  .row.end-xl {
    justify-content: flex-end;
  }
  .row.top-xl {
    align-items: flex-start;
  }
  .row.middle-xl {
    align-items: center;
  }
  .row.bottom-xl {
    align-items: flex-end;
  }
  .row.around-xl {
    justify-content: space-around;
  }
  .row.between-xl {
    justify-content: space-between;
  }
  .first-xl {
    order: -1;
  }
  .last-xl {
    order: 1;
  }
}
.col-gutter-all {
  padding: 1rem;
}

.col-no-gutter {
  padding: 0;
}

.show {
  display: block !important;
}

.row.show {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide {
  display: none !important;
}

.show-xs {
  display: block !important;
}

.row.show-xs {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.hide-xs {
  display: none !important;
}

@media only screen and (max-width: 40rem) {
  .show-xs-only {
    display: block !important;
  }
  .row.show-xs-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-xs-only {
    display: none !important;
  }
}
@media only screen and (min-width: 41rem) {
  .show-sm {
    display: block !important;
  }
  .row.show-sm {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-sm {
    display: none !important;
  }
}
@media only screen and (min-width: 41rem) and (max-width: 64rem) {
  .show-sm-only {
    display: block !important;
  }
  .row.show-sm-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-sm-only {
    display: none !important;
  }
}
@media only screen and (min-width: 65rem) {
  .show-md {
    display: block !important;
  }
  .row.show-md {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-md {
    display: none !important;
  }
}
@media only screen and (min-width: 65rem) and (max-width: 90rem) {
  .show-md-only {
    display: block !important;
  }
  .row.show-md-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-md-only {
    display: none !important;
  }
}
@media only screen and (min-width: 91rem) {
  .show-lg {
    display: block !important;
  }
  .row.show-lg {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-lg {
    display: none !important;
  }
}
@media only screen and (min-width: 91rem) and (max-width: 120rem) {
  .show-lg-only {
    display: block !important;
  }
  .row.show-lg-only {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-lg-only {
    display: none !important;
  }
}
@media only screen and (min-width: 121rem) {
  .show-xl {
    display: block !important;
  }
  .row.show-xl {
    display: -webkit-flex !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .hide-xl {
    display: none !important;
  }
}
/******************************************
/* Notes
/*******************************************/
/*
CD to coffeeshop
****************
cd /Users/jyarbr5/Documents/Projects/coffeeshop

Watch sass and compile to css
*****************************
sass --watch styles/scss/main.scss:styles/css/main.css
/*

Color Palette
*****************************
https://colorhunt.co/palette/f2eee3baaf92785e4dff8426

/******************************************
/* Variables
/*******************************************/
/******************************************
/* Base Styles
/*******************************************/
body {
  color: #785E4D;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: "Bitter", Georgia, serif;
  position: absolute;
}

body, figure {
  margin: 0;
}

h1, h2, h3, p, ul {
  margin-top: 0;
  margin-bottom: 2rem;
}

h1, h2, h3, h4 {
  letter-spacing: 0.05rem;
  line-height: normal;
}

h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h4 {
  font-family: "Ubuntu", Helvetica, sans-serif;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
ul li {
  padding: 0 0.5rem;
}

a {
  color: #785E4D;
  border-bottom: 2px solid #FF8426;
  transition: all 0.1s ease-in-out;
  text-decoration: none;
}
a:hover, a:active {
  color: #FF8426;
  border-bottom: 2px solid #FF8426;
}

ul.buttons li {
  padding: 0;
  margin: 0 0.5rem 0 0;
}
ul.buttons li:first-child {
  margin-left: 0;
}
ul.buttons li:last-child {
  margin-right: 0;
}
ul.buttons a {
  display: block;
}
ul.buttons a, ul.buttons input[type=submit], ul.buttons input[type=email], ul.buttons button {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  text-shadow: none;
  color: #fff;
  background-color: #FF8426;
  border-radius: 8px;
  box-shadow: 2px 3px 0 2px #2a211b;
  border: 3px solid transparent;
  padding: 0.5rem 0.8rem;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
ul.buttons a:hover, ul.buttons a:active, ul.buttons input[type=submit]:hover, ul.buttons input[type=submit]:active, ul.buttons input[type=email]:hover, ul.buttons input[type=email]:active, ul.buttons button:hover, ul.buttons button:active {
  color: #fff;
  background-color: #2a211b;
  box-shadow: 2px 3px 0 2px #FF8426;
}
ul.buttons a:hover i, ul.buttons a:active i, ul.buttons input[type=submit]:hover i, ul.buttons input[type=submit]:active i, ul.buttons input[type=email]:hover i, ul.buttons input[type=email]:active i, ul.buttons button:hover i, ul.buttons button:active i {
  color: #FF8426;
}
ul.buttons a.secondary, ul.buttons input[type=submit].secondary, ul.buttons input[type=email].secondary, ul.buttons button.secondary {
  background-color: transparent;
  border: 3px solid #FF8426;
  color: #FF8426;
}
ul.buttons a.secondary:hover, ul.buttons a.secondary:active, ul.buttons input[type=submit].secondary:hover, ul.buttons input[type=submit].secondary:active, ul.buttons input[type=email].secondary:hover, ul.buttons input[type=email].secondary:active, ul.buttons button.secondary:hover, ul.buttons button.secondary:active {
  color: #fff;
  background-color: #785E4D;
  border: 3px solid transparent;
}
ul.buttons a.secondary:hover i, ul.buttons a.secondary:active i, ul.buttons input[type=submit].secondary:hover i, ul.buttons input[type=submit].secondary:active i, ul.buttons input[type=email].secondary:hover i, ul.buttons input[type=email].secondary:active i, ul.buttons button.secondary:hover i, ul.buttons button.secondary:active i {
  color: #FF8426;
}

/******************************************
/* Layout/Sections
/*******************************************/
body.side-nav-open {
  overflow: hidden;
}

#side-nav {
  background-color: rgba(42, 33, 27, 0.95);
  position: fixed;
  padding-top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}
#side-nav a {
  width: 100%;
  padding: 1rem 0;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid #BAAF92;
  z-index: 30;
}
#side-nav a:hover, #side-nav a:active {
  color: #FF8426;
  border-bottom-color: #FF8426;
}

#main-nav {
  box-shadow: 0 2px 3px 0px black;
  background-color: #2a211b;
  position: fixed;
  top: 0;
  height: 50px;
  z-index: 20;
  color: #fff;
  transition: top 400ms ease-in-out;
}
#main-nav.nav-visible, #main-nav:focus-within {
  top: 0;
}
#main-nav.nav-hidden {
  top: -45px;
}
#main-nav .header-logo {
  width: 255px;
  height: 40px;
}
#main-nav i {
  font-size: 28px;
  padding: 11px 1rem;
  cursor: pointer;
}
#main-nav i:hover, #main-nav i:active {
  color: #FF8426;
}
#main-nav li:first-child {
  padding-left: 0;
}
#main-nav li:last-child {
  padding-right: 0;
}
#main-nav a {
  color: #fff;
  font-weight: bold;
  border-bottom-color: transparent;
}
#main-nav a:hover, #main-nav a:active {
  color: #FF8426;
  border-bottom-color: #FF8426;
}
#main-nav section div {
  height: 100%;
}

header {
  color: white;
  text-align: center;
  height: 35rem;
  padding-top: 40px;
  background-color: #F2EEE3;
  text-shadow: 0px 1px 3px rgba(42, 33, 27, 0.8), 0px 4px 5px rgba(42, 33, 27, 0.5);
  background: url("../../res/img/bg/bg_hero.webp") top 30% right 0/cover no-repeat #F2EEE3;
}
@media only screen and (min-width: 65rem) {
  header {
    text-align: left;
  }
}
header h1 {
  font-size: 2.5rem;
  margin: 0;
}
@media only screen and (min-width: 41rem) {
  header h1 {
    font-size: 3rem;
  }
}
header p {
  font-size: 1rem;
  margin: 1rem 0;
}
header span {
  color: #FF8426;
}
header > section > div {
  margin-bottom: 1rem;
}

main section {
  padding: 7rem 2rem;
}
main h2 {
  font-size: 2rem;
}
@media only screen and (min-width: 41rem) {
  main h2 {
    font-size: 2.5rem;
  }
}
main h3 {
  color: #FF8426;
  margin-bottom: 0;
}

#about-content {
  background: linear-gradient(to bottom, rgba(255, 190, 140, 0.2), #fff 50%, rgba(255, 190, 140, 0.2) 100%), linear-gradient(to bottom, rgba(42, 33, 27, 0.3), white 2%, white 98%, rgba(42, 33, 27, 0.3));
}
#about-content aside {
  float: left;
  margin-left: auto;
  margin-right: 1rem;
  width: 100%;
}
@media only screen and (min-width: 41rem) {
  #about-content aside {
    width: 300px;
  }
}
#about-content img {
  max-width: 100%;
  border-radius: 0.5rem;
}
#about-content .about_copy {
  height: 100%;
}

#menu-content ul {
  margin-bottom: 3rem;
}
#menu-content img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
#menu-content figure {
  position: relative;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 40rem) {
  #menu-content figure {
    padding: 0 0.25rem;
  }
}
#menu-content .item_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  height: 100%;
  background-color: rgba(120, 94, 77, 0.7);
  border-radius: 8px;
}
@media only screen and (max-width: 40rem) {
  #menu-content .item_overlay {
    width: calc(100% - 0.5rem);
    margin-left: 0.25rem;
  }
}
#menu-content figcaption, #menu-content p {
  color: #fff;
  text-shadow: 0 0 5px #785E4D;
}
#menu-content figure ul, #menu-content figure p {
  margin: 0;
}
#menu-content figure h4 {
  font-size: 1.4rem;
  width: 90%;
  margin: 0 0 1rem 0;
}
@media only screen and (min-width: 41rem) {
  #menu-content figure h4 {
    font-size: 1.8rem;
  }
}
#menu-content figure span {
  font-style: italic;
  color: #FF8426;
}

#review-content {
  background: linear-gradient(to bottom, rgba(255, 190, 140, 0.2), #fff 50%, rgba(255, 190, 140, 0.2) 100%), linear-gradient(to bottom, rgba(42, 33, 27, 0.3), white 2%, white 98%, rgba(42, 33, 27, 0.3));
}
#review-content figure {
  padding: 1rem;
}
#review-content figure .figure-inner {
  background: #fff;
  border-radius: 8px;
  box-shadow: 2px 3px 0 1px #785E4D, 0 0 2px 0 #785E4D;
  padding: 0.5rem;
}
#review-content blockquote {
  margin: 0;
}
#review-content img {
  height: 90px;
  width: 90px;
  border-radius: 10rem;
}
#review-content i {
  color: #ffd300;
}

#contact-content .contact_card {
  margin-bottom: 5rem;
  padding: 0;
}
#contact-content .contact_card i {
  font-size: 1.3rem;
}
#contact-content form .row {
  margin-bottom: 1rem;
}
#contact-content label {
  font-weight: 400;
  font-family: "Ubuntu", Helvetica, sans-serif;
  font-size: 1.1rem;
}
#contact-content label:has(~ :is(textarea:focus, input:focus)) {
  color: #FF8426;
}
#contact-content textarea {
  height: 10rem;
}
#contact-content input[type=text], #contact-content input[type=email], #contact-content textarea {
  font-size: 0.9rem;
  font-family: "Bitter", Georgia, serif;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  padding: 0.5rem;
  border: 2px solid #785E4D;
  border-radius: 4px;
  outline: 0;
  box-shadow: inset 0 0 1px 0 #785E4D;
  box-shadow: 2px 3px 0 1px #FF8426;
}
#contact-content input[type=text]:focus, #contact-content input[type=email]:focus, #contact-content textarea:focus {
  color: #785E4D;
  outline: 0;
  box-shadow: 2px 3px 0 1px #785E4D;
  background-color: #fff;
  border-color: #FF8426;
  border: 2px solid #FF8426;
}

footer {
  color: #fff;
  background-color: #2a211b;
  padding: 0.5rem 0;
}
footer nav {
  font-size: 0.75rem;
}
footer span {
  font-weight: bold;
}
footer a {
  color: #fff;
}

/******************************************
/* Utilities
/*******************************************/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.margin-bottom {
  margin-bottom: 1rem;
}

.hide {
  visibility: hidden;
}

.break {
  flex-basis: 100%;
  height: 0;
}

/******************************************
/* JS Styles
/*******************************************/
.to-fade-in {
  transform: translateY(1rem) perspective(10rem) translateZ(-1rem);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.fade-in {
  transform: translateY(0) translateZ(0);
  opacity: 1;
}

@media (prefers-reduced-motion) {
  .to-fade-in {
    opacity: 1;
    transform: none !important;
  }
}

/*# sourceMappingURL=main.css.map */
