/******************************************
/* IMPORTS
/*******************************************/
@import "variables/main.scss";
@import "mixins/main.scss";
@import "grid";
@import "visibility"; // Visibility last for precedence

/******************************************
/* NOTES
/*******************************************/
/*
Command to watch sass files and compile to css
sass --watch styles/scss/main.scss:styles/css/main.css
*/

/******************************************
/* BASE STYLES
/*******************************************/
$light-brown: #f4d6ba;
$orange: #f69800;
$orange-brown: #de9861;
$dark-brown: #713928;
$dark-purple: #362f2f;
$white: #fff;

body {
  color: $dark-purple;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family:'Bitter', Georgia, serif
}
body, figure {
  margin: 0;
}
h1,h2,h3,h4,p {
  margin-top: 0;
  letter-spacing: 0.05rem;
  line-height: normal;
}
h5,h6 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,h2 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  padding-left: 0;
  li {
    padding: 0 0.5rem;
  }
}
nav li {
  padding: 0 0.5rem;
}
a {
  color: $orange;
  :hover, :visited {
    color: $orange;
  }
}
ul.buttons {
  a, input[type=submit], input[type=email] input[type=button] {
    text-shadow: none;
    text-decoration: none;
    color: $white;
    background-color: $orange;
    border-radius: 8px;
    box-shadow: 2px 3px 0 2px $dark-purple;
    border: 0;
    padding: 0.8rem 1rem;
    font-family: 'Bitter';
    cursor: pointer;
    &:hover {
      color: $white;
      background-color: $dark-purple;
      box-shadow: 2px 3px 0 2px $orange;
      i {
        color: $orange;
      }
    }
  }
}

/******************************************
/* LAYOUT/SECTIONS
/*******************************************/
#main-nav {
  position: fixed;
  color: $white; // make link hover $orange
  background-color: $dark-purple;
  padding: 5px 0;
  .header-logo {
    width: 203px;
    height: 30px;
  }
  i {
    font-size: 22px;
    padding: 4px 0;
  }
}

header {
  color: white;
  height: 30rem;
  padding-top: 40px;
  text-shadow:
    0px 2px 3px rgba($dark-purple,0.7),
    0px 4px 5px rgba($dark-purple,0.5);
  background:
    linear-gradient(to bottom, rgba($dark-purple, 30%) 75%, rgba($dark-purple, 0%) 100%),
    url("../../assets/img/bg/coffee-hero-bg.webp")
    right top
    no-repeat
    $light-brown;
  h1 {
    font-size: 2.5rem;
    margin: 0;
  }
  p {
    letter-spacing: 0.04rem;
    font-size: 1rem;
  }
  span {
    color:$orange;
  }
  & > section > * {
    margin-bottom: 2rem;
  }
}

main {
  section {
    padding-top: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    color: $orange;
    margin-bottom: 0;
  }
  
}

#about-content {
  figure {
      width: 100%;
  }
  /* temporary - fix src img later */
  img {
    width: 100%;
    border-radius: 0.5rem;
  }
}

#contact-content {
  input[type=text], input[type=email] {
    padding: 0.5rem 1rem;
  }
  label {
    font-weight: 600;
    &:has(~ :is(textarea:focus, input:focus)) {
      color: $orange; 
    }
  }
  textarea {
    height: 10rem;
  }
  input[type=text], input[type=email], textarea {
    background-color: transparent;
    width: 100%;
    border: 0;
    outline: 2px solid $dark-purple;
    border-radius: 3px;
    &:focus {
      outline: 2px solid $orange;
      box-shadow: 2px 3px 0 2px $dark-purple;
    }
  }
  li:first-child {
    padding-left: 0;
  }
  & > div > div {
    height: 7rem;
  }
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.margin-bottom {
  margin-bottom: 1rem;
}