/******************************************
/* Imports
/*******************************************/
@import "variables/grid-variables.scss";
@import "mixins/main.scss";
@import "grid";
@import "visibility"; // Visibility last for precedence

/******************************************
/* Notes
/*******************************************/

/*
CD to coffeeshop
****************
cd /Users/jyarbr5/Documents/Projects/coffeeshop

Watch sass and compile to css
*****************************
sass --watch styles/scss/main.scss:styles/css/main.css
/*

Color Palette
*****************************
https://colorhunt.co/palette/f2eee3baaf92785e4dff8426

/******************************************
/* Variables
/*******************************************/

// colors
// $light-brown: #FFF3CD;
// $orange: #FF926B;
// $dark-purple: #4D3E3E;
$yellow: #ffd300;
$white: #fff;

$orange: #FF8426;
$light-orange: #FFC38B;
$light-brown: #F2EEE3;
$brown: #BAAF92;
$dark-purple: #785E4D;
$darker-purple: darken($dark-purple, 20%);

$main-nav-height: 50px;

/******************************************
/* Base Styles
/*******************************************/
body {
  color: $darker-purple;
  font-size: 1rem;
  line-height: 1.5rem;
  font-family:'Bitter', Georgia, serif;
  position: absolute; // used to fix modal scrolling
}
body, figure {
  margin: 0;
}
h1,h2,h3,p,ul {
  margin-top: 0;
  margin-bottom: 2rem;
}
h1,h2,h3,h4 {
  letter-spacing: 0.05rem;
  line-height: normal;
}
h5,h6 {
  margin: 0;
}
* {
  box-sizing: border-box;
}
h1,h2,h4 {
  font-family: 'Ubuntu', Helvetica, sans-serif;
}
ul {
  list-style-type: none;
  padding-left: 0;
  li {
    padding: 0 0.5rem;
  }
}
a {
  color: $orange;
  &:hover, &:active, &:visited {
    color: $orange;
  }
}
ul.buttons {
  li {
    padding: 0;
    margin: 0 0.5rem 0 0;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    display: block;
  }
  a, input[type=submit], input[type=email], button {
    font-family: 'Ubuntu';
    font-size: 1rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: none;
    color: $white;
    background-color: $orange;
    border-radius: 8px;
    box-shadow: 2px 3px 0 2px $darker-purple;
    border: 3px solid transparent;
    padding: 0.5rem 0.8rem;
    cursor: pointer;
    &:hover, &:active {
      color: $white;
      background-color: $darker-purple;
      box-shadow: 2px 3px 0 2px $orange;
      i {
        color: $orange;
      }
    }
    &.secondary {
      background-color: transparent;
      border: 3px solid $orange;
      color: $orange;
      &:hover, &:active {
        color: $white;
        background-color: $dark-purple;
        border: 3px solid transparent;
        i {
          color: $orange;
        }
      }
    }
  }
}

/******************************************
/* Layout/Sections
/*******************************************/
body.side-nav-open {
  overflow: hidden;
  // height: 100vh;
  // padding-right: 15px;
}
#side-nav {
  background-color: rgba($color: $darker-purple, $alpha: 0.95);
  position: fixed;
  padding-top: 50px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  li {
    border-bottom: 1px solid $brown;
  }
  a {
    width: 100%;
    padding: 1rem 0;
    color: $white;
    font-weight: bold;
    text-decoration: none;
    // border-bottom: 2px solid $brown;
    z-index: 30;
    &:hover, &:active {
      color: $orange;
      border-bottom-color: $white;
    }
  }
}
#main-nav {
  box-shadow: 0 2px 3px 0px black;
  background-color: $darker-purple;
  position: fixed;
  top: 0;
  height: $main-nav-height;
  z-index: 20;
  color: $white;
  transition: top 400ms ease-in-out;
  &.nav-visible, &:focus-within {
    top: 0;
  }
  &.nav-hidden {
    top: calc(-0.9 * $main-nav-height);
  }
  .header-logo {
    width: 255px;
    height: 40px;
  }
  i {
    font-size: 28px;
    padding: 11px 1rem;
    cursor: pointer;
    &:hover, &:active {
      color: $orange;
    }
  }
  li {
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }
  a {
    color: $white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 2px dashed transparent;
    &:hover, &:active {
      color: $orange;
      border-bottom-color: $white;
    }
  }
  & section div {
    height: 100%;
  }
}

header {
  color: white;
  text-align: center;
  height: 35rem;
  padding-top: 40px;
  background-color: $light-brown;
  text-shadow:
    0px 1px 3px rgba($darker-purple,0.8),
    0px 4px 5px rgba($darker-purple,0.5);
  // background:
    // linear-gradient(
    //   to bottom right,
    //   rgba($light-brown, 50%),
    //   rgba($light-orange, 50%) 100%
    // )
  background:
  //   linear-gradient(
  //     to bottom,
  //     rgba($dark-purple, 25%) 75%,
  //     rgba($dark-purple, 0%) 100%
  //   ),
    url("../../res/img/bg/bg_hero.webp")
    top 30% right 0 / cover
    no-repeat
    $light-brown;
  @media #{$breakpoint-md-up} {
    text-align: left;
  }
  h1 {
    font-size: 2.5rem;
    margin: 0;
    @media #{$breakpoint-sm-up} {
      font-size: 3rem;
    }
  }
  p {
    font-size: 1rem;
    margin: 1rem 0;
  }
  span {
    color:$orange;
  }
  & > section > div {
    margin-bottom: 1rem;
  }
}

main {
  section {
    padding: 5rem 0;
  }
  h2 {
    font-size: 2rem;
    @media #{$breakpoint-sm-up} {
      font-size: 2.5rem;
    }
  }
  h3 {
    color: $orange;
    margin-bottom: 0;
  }
  
}

#about-content {
  background:
  linear-gradient(
    to bottom,
    rgba($white, 100%) 90%,
    rgba($light-brown, 100%)
  );
  aside {
    float: left;
    margin-left: auto;
    margin-right: 1rem;
    width: 100%;
    @media #{$breakpoint-sm-up} {
      width: 300px;
    }
  }
  img {
    max-width: 100%;
    border-radius: 0.5rem;
  }
  .about_copy {
    height: 100%;
  }
}

#menu-content {
  background:
    linear-gradient(
      to bottom right,
      rgba($light-brown, 50%),
      rgba($orange, 30%) 100%
    );
  ul {
    margin-bottom: 3rem;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  figure {
    position: relative;
    margin-bottom: 2rem;
    @media #{$breakpoint-xs-only} {
      padding:0 0.25rem;
    }
  }
  .item_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    height: 100%;
    background-color: rgba($color: $dark-purple, $alpha: 0.7);
    border-radius: 8px;
    @media #{$breakpoint-xs-only} {
      width: calc(100% - .5rem);
      margin-left: 0.25rem;
    }
  }
  figcaption, p {
    color: $white;
    text-shadow: 0 0 5px $dark-purple;
  } 
  figure {
    ul, p {
      margin: 0;
    }
    h4 {
      font-size: 1.4rem;
      width: 90%;
      margin: 0 0 1rem 0;
      @media #{$breakpoint-sm-up} {
        font-size: 1.8rem;
      }
    }
    span {
      font-style: italic;
      color: $orange;
    }
  }
}

#review-content {
  background:
    linear-gradient(
      to bottom,
      rgba($white, 100%) 90%,
      rgba($light-brown, 100%)
    );
  blockquote {
    margin: 0;
  }
  img {
    height: 90px;
    width: 90px;
    border-radius: 10rem;
  }
  i {
    color: $yellow;
  }
}

#contact-content {
  background:
    linear-gradient(
      to bottom right,
      rgba($light-brown, 50%),
      rgba($orange, 30%) 100%
    );
  .contact_card {
    margin-bottom: 5rem;
    padding: 0;
  }
  form .row {
    margin-bottom: 1rem;
  }
  label {
    font-weight: 400;
    font-family: 'Ubuntu', Helvetica, sans-serif;
    font-size: 1.1rem;
    &:has(~ :is(textarea:focus, input:focus)) {
      color: $orange;
    }
  }
  textarea {
    height: 10rem;
  }
  input[type=text], input[type=email], textarea {
    font-size: 0.9rem;
    font-family:'Bitter', Georgia, serif;
    background-color: rgba($color: $white, $alpha: 0.5);
    width: 100%;
    padding: 0.5rem;
    border: 2px solid $dark-purple;
    border-radius: 4px;
    outline: 0;
    box-shadow: inset 0 0 1px 0 $dark-purple;
    box-shadow: 2px 3px 0 1px $orange;
    &:focus {
      color: $dark-purple;
      outline: 0;
      box-shadow: 2px 3px 0 1px $dark-purple;
      background-color: $white;
      border-color: $orange;
      border: 2px solid $orange;
    }
  }
}

footer {
  color: $white;
  background-color: $darker-purple;
  padding: 0.5rem 0;
  nav {
    font-size: .75rem;
  }
}

/******************************************
/* Utilities
/*******************************************/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.margin-bottom {
  margin-bottom: 1rem;
}
.hide {
  visibility: hidden;
}
.break {
  flex-basis: 100%;
  height: 0;
}
@media #{$breakpoint-md-up} {
  .no-absolute-md {
    position:initial;
  }
}

/******************************************
/* JS Styles
/*******************************************/
.to-fade-in {
  transform: translateY(1rem) perspective(10rem) translateZ(-1rem);
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  opacity: 0;
}
.fade-in {
  transform: translateY(0) translateZ(0);
  opacity: 1;
}
@media (prefers-reduced-motion) {
  .to-fade-in {
    opacity: 1;
    transform: none !important;
  }
}